<% if ( locals.logged ) { %>
  <%- include('./navbar_v1') %>
    <% } else{ %>
      <%- include('./navbar_v3') %>
        <% }%>

          <% if ( locals.top_message ) { %>
            <%- locals.top_message %>
              <% } %>
                <div class="flex-container flex-content" id="new-exam-containter">
                  <h1 class="margin-left-right"> Exams </h1>
                  <h1> Grade </h1>
                  <a type="button" class="default-button" href="/new_exam"> ➕ Add new exam</a>
                  <%# TODO: Add dynamic loading of exams available to a certain student. %>
                </div>

                <div class="flex-container" id="exam-review">
                  <div class="flex-container flex-column">
                    <% locals.exam_info.forEach(function(exam) { %>
                      <div class="flex-container">
                        <!-- EXAM INFO -->
                        <div class="flex-container flex-column margin-left-right">
                          <h4><%= exam.name %></h4>
                          <h6><%= exam.start_date %></h6>
                          <h6><%= exam.end_date %></h6>
                        </div>

                        <!-- EXAM GRADE -->
                        <div class="flex-container flex-column margin-left-right" id="exam-grade">
                          <a class="grade"><%= exam.grade %></a>
                        </div>

                        <!-- SUBMISSION AND SUMMARY BUTTONS -->
                        <div class="flex-container flex-column margin-left-155px">
                          <a type="button" class="default-button" href="/submission"> 👀 See your submission</a>
                          <a type="button" class="default-button" href="/summary"> 📄 See summary</a>
                        </div>
                      </div>
                      <% }); %>
                  </div>
                </div>

                <%# TODO: this is hardcoded, it will have to be replaced with a dynamic way to show submissions. %>
                <%# TODO: move to student folder. %>

                <%- include('./footer') %>